{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="col align-center">
  <div class="card bg-success" style="width: 500px">
    <div class="card-body text-center">
      <p class="card-text">Hi {{ user.username }}!</p>
    </div>
  </div>
</div>
{% else %}
  <div class="row align-self-center">
    <div class="col-20 align-self-center">
      <div class="card bg-warning mx-auto">
        <div class="card-body text-center">
          <p class="card-text">You are not logged in</p>
          <a class="card-link" href="{% url 'login' %}">Login</a>
          <a class="card-link" href="{% url 'signup' %}">Register</a>
        </div>
      </div>
    </div>
  </div>

{% endif %}
{% endblock %}
