{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p>Your location is set to {{ geodata.city }}, {{ geodata.country.name }}. </p>
  <a href="{% url 'update_location' %}">Update location</a>
  <h3>Here is your weather data for 5 days:</h3>
<div class="row my-3">
  {% for hourlydata in weather_data %}
      <div class="card mx-auto px-3 py-3 my-3" style="width:250px">
          <div class="card-header">
              <img class="card-img" src="http://openweathermap.org/img/w/{{ hourlydata.icon }}.png">
              <h4 class="card-title">{{ hourlydata.temp }} °C</h4>
          </div>
          <div class="card-body">
              <p class="card-text">Feels like: {{ hourlydata.feels_like }} °C</p>
              <p class="card-text">Weather: {{ hourlydata.weather_str }}</p>
              <p class="card-text">Wind: {{ hourlydata.wind }} m/s</p>
          </div>
          <div class="card-footer">
              <p class="card-text">Date: {{ hourlydata.date }}</p>
              <p class="card-text">Time: {{ hourlydata.time }}</p>
<!--              <p class="card-text">Temperature: {{ hourlydata.temp }} celsius</p>-->
          </div>

      </div>

  {% endfor %}
</div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <br>
  <a href="{% url 'signup' %}">register</a>
{% endif %}
{% endblock %}
